{% extends 'admin/layout.html'%}
{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
{% endblock head %}
{% block title %}Dashboard{% endblock title %}
{% block body %}
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="user"></i></div>
                        Change Password
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <a class="btn btn-sm btn-light text-primary" href="{{url_for('admin.user_classes')}}">
                        <i class="me-1" data-feather="users"></i>
                        Manage Classes
                    </a>
                    <a class="btn btn-sm btn-light text-primary" href="{{url_for('admin.registration_profiles')}}">
                        <i class="me-1" data-feather="users"></i>
                        Registration Profiles
                    </a>
                    <a class="btn btn-sm btn-light text-primary" href="{{url_for('admin.user_profiles')}}">
                        <i class="me-1" data-feather="users"></i>
                        User Profiles
                    </a>
                    
                    <a class="btn btn-sm btn-light text-primary" href="{{url_for('admin.edit_user', user_id=user.id)}}">
                        <i class="me-1" data-feather="arrow-left"></i>
                        Back to Edit User
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col" id="alertCol">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">

                    {{ message }}
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data" id="changeForm">
        {{ changeUserPasswordForm.csrf_token() }}
        <div class="row">
            <div class="col-xl-4">
                <div class="card mb- mb-xl-0">
                    <div class="card-header">User Data</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2" src="{{url_for('static', filename='/profile_pictures/')}}{{user.profile_picture}}" alt="" />
                        <!-- Profile picture help block-->
                        <!-- <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div> -->
                        <!-- Profile picture upload button-->
                        <!-- <button class="btn btn-primary" type="button">Upload new image</button> -->
                        
                        <h5 class="card-title">{{ user.name }}</h5>
                        <p class="card-text">{{ user.email }}</p>
                        <p class="card-text"><strong>Last Login :</strong> {{ user.last_login }}</p>
                        <p class="card-text"><strong>Last IP :</strong> {{ user.last_ip }}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="card mb-xl-0">
                    <div class="card-header">Change Password</div>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-md-12 mb-3">
                                <label class="small mb-1" for="inputPassword">New Password</label>
                                {{ changeUserPasswordForm.password(class="form-control", autocomplete="off", required=True, placeholder="Enter new password", value=user.name, id="inputPassword", type="password")}}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label class="small mb-1" for="inputConfirm">Confirm New Password</label>
                                {{ changeUserPasswordForm.confirm(class="form-control", autocomplete="off", required=True, placeholder="Enter new password", value=user.name, id="inputConfirm", type="password")}}
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <button class="btn btn-primary" type="button" id="saveChanges">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $('#saveChanges').click(function() {
            var are_you_sure = confirm("Are you sure you want to change this user's password?");
            if (are_you_sure) {
                $('#changeForm').submit();
            }
        });
    });
</script>

{% endblock body %}
{% block content %}

{% endblock content %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="{{ url_for('static', filename='dist/js/module.js')}}"></script>
{% endblock script %}