{% extends 'admin/layout.html'%}
{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
{% endblock head %}
{% block title %}Dashboard{% endblock title %}
{% block body %}

    {{ids}}
{% endblock body %}
{% block content %}

{% endblock content %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="{{ url_for('static', filename='dist/js/module.js')}}"></script>
{% endblock script %}