{% extends 'admin/layout.html'%}
{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
{% endblock head %}
{% block title %}Dashboard{% endblock title %}
{% block body %}
<style>
    .link_table:visited{
        color: blue;
    }
    .link_table:hover{
        color: blueviolet;
        text-decoration: none;
    }
</style>


<div class="modal fade" id="editClassModal" tabindex="-1" role="dialog" aria-labelledby="editClassModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editGroupModalLabel">Edit Class</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="?action=edit">
                {{ editClassForm.csrf_token }}
                {{ editClassForm.id(id="classId", type="hidden") }}
                <div class="modal-body">
                    <div class="mb-0">
                        <label class="mb-1 small text-muted" for="formGroupName">Class Name</label>
                        {{ editClassForm.name(class="form-control", placeholder="Enter class name...", id="className")}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger-soft text-danger" type="button" data-bs-dismiss="modal">Cancel</button>
                </form>
                {{ editClassForm.submit(class="btn btn-primary-soft text-primary")}}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addClassModal" tabindex="-1" role="dialog" aria-labelledby="editClassModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addClassModalLabel">Add Class</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="?action=add">
                {{ addClassForm.csrf_token }}
                <div class="modal-body">
                    <div class="mb-0">
                        <label class="mb-1 small text-muted" for="formGroupName">Class Name</label>
                        {{ addClassForm.name(class="form-control", placeholder="Enter class name...", id="")}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger-soft text-danger" type="button" data-bs-dismiss="modal">Cancel</button>
                </form>
                {{ addClassForm.submit(class="btn btn-primary-soft text-primary")}}
            </div>
        </div>
    </div>
</div>

<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-xl px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="globe"></i></div>
                        User Classes
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    <!-- <a class="btn btn-sm btn-light text-primary" href="{{url_for('admin.user_classes')}}">
                        <i class="me-1" data-feather="globe"></i>
                        Manage Classes
                    </a> -->
                    <a class="btn btn-sm btn-light text-primary" href="{{url_for('admin.user_profiles')}}">
                        <i class="me-1" data-feather="users"></i>
                        <!-- arrow-left -->
                        User Profiles
                    </a>
                    <a class="btn btn-sm btn-light text-primary" href="{{url_for('admin.user_rooms')}}">
                        <i class="me-1" data-feather="home"></i>
                        Manage Rooms
                    </a>
                    <a class="btn btn-sm btn-light text-primary" href="{{url_for('admin.registration_profiles')}}">
                        <i class="me-1" data-feather="users"></i>
                        Registration Profiles
                    </a>
                    <button class="btn btn-sm btn-light text-primary" type="button" data-bs-toggle="modal" data-bs-target="#addClassModal">
                        <i class="me-1" data-feather="plus"></i>
                        Add Class
                    </button>
                    <a class="btn btn-sm btn-light text-primary" href="{{urk_for('admin.index')}}">
                        <i class="me-1" data-feather="arrow-left"></i>
                        <!-- arrow-left -->
                        Back to Dashboard
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-xl px-4 mt-3">
    <div class="row">
        <div class="col" id="alertCol">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">

                    {{ message }}
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="card mb-4">
        <!-- <div class="card-header">
        </div> -->
        <div class="card-body" id="userClasses">
            <table id="userClassesTable"->
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Total Member</th>
                        <th>Date Created</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Total Member</th>
                        <th>Date Created</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for user_class in classes %}
                        <tr>
                            <td>{{user_class.id}}</td>
                            <td><a href="{{url_for('admin.user_class', id=user_class.id)}}" class="link_table  ">{{user_class.name}}</a></td>
                            <td>{{user_class.user_count}}</td>
                            <td>{{user_class.date_created}}</td>
                            <td>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark me-2 edit-button" type="button" data-bs-toggle="modal" data-bs-target="#editClassModal">
                                    <i data-feather="edit">E</i>
                                </button>
                                                

                                <button class="btn btn-datatable btn-icon btn-transparent-dark">
                                    <a href="{{url_for('admin.delete_class', id=user_class.id)}}" class="btn btn-datatable btn-icon btn-transparent-dark">
                                        <i data-feather="trash-2">D</i>
                                    </a>
                                    
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script type="module">
    import {
        DataTable
    }from "{{ url_for('static', filename='dist/js/module.js') }}";
    window.dt = new DataTable("#userClassesTable", {
        perPageSelect: [5, 10, 25, ["All", -1]],
        columns:[
        {
            select: 2,
            sortSequence: ["desc", "asc"]
        },
        {
            select: 4,
            sortable: false
        }
        ],
        scrollY: '50vh'
    });
</script>

<script>
    $(document).ready(function(){
        $('#editClassModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)

            var row = button.closest('tr')

            var id = row.find('td:eq(0)').text()
            var name = row.find('td:eq(1)').text()

            $('#className').val(name)
            $('#classId').val(id)
        })
    })
</script>

{% endblock body %}
{% block content %}

{% endblock content %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="{{ url_for('static', filename='dist/js/module.js')}}"></script>
{% endblock script %}